extends ../head
block content
    // ссылка на страницу для добавления студенческой группы
    a(href="/addStudentGroup") Добавить студенческую группу
    each el in studentGroups
        li
            // ссылка на страницу для просмотра и изменения данных студенческой группы
            a(href="/studentGroup/" + el.id) #{el.name}