extends ../head
block append scripts
    script(src="/js/script.js")
block content
    div(class="col-md-5")
        form(action="/addTeacherDiscipline" method="POST")
            select(name="teacher_id" id="teacher_id" required class="form-select")
                each el in teachers
                    option(value=el.id) #{el.name}
            select(name="discipline_id" id="discipline_id" required class="form-select")
                each el in disciplines
                    option(value=el.id) #{el.name}
            input(type="submit" value="Добавить" class="btn btn-success")

