extends ../head
block content
    form(action="/updateTeacher/" + teacher.id, method="POST")
        input(name="name" type="text" placeholder="ФИО" value=teacher.name required)
        input(type="submit" value="Обновить")
    form(action="/deleteTeacher/" + teacher.id, method="POST")
        input(type="submit" value="Удалить")
