extends ../head
block content
    body 
        if teacher != null
            form(action="/teacher/" + teacher.id, method="POST")
                input(name="name" value=teacher.name)
                input(type="submit" value='Отправить')
        else
            div Преподаватель с таким id не найден