extends ../head
block content
    body 
        if course != null
            form(action="/course/" + course.id, method="POST")
                input(name="name" value=course.name)
                input(type="submit" value='Отправить')
        else
            div Курс с таким id не найден