extends ../head
block content
    a(href="/addDiscipline" class="btn btn-success") Добавить дисциплину
    ul(class="list-group mt-3")
    each el in courses 
        li(class="list-group-item")
            a(href="/discipline/" + el.id) #{el.name} 