extends ../head
block content
    form(action="/addStudent" method="POST")
        input(name="name" type="text" placeholder="ФИО" required)
        select(name="student_group_id" required)
            each el in studentGroups
                option(value=el.id) #{el.name}
        input(type="submit" value="Добавить")