extends ../head
block content
    div(class="col-md-5")
        form(action="/addStudent" method="POST")
            div(class="form-group mb-3")
                input(name="name" type="text" placeholder="ФИО" required class="form-control")
            div(class="form-group mb-3")
                select(name="student_group_id" required class="form-select")
                    each el in studentGroups
                        option(value=el.id) #{el.name}
            div(class="form-group mb-3")
                input(type="submit" value="Добавить" class="btn btn-success")